<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
	<h3>Ejs</h3>
	<% if (list.length) { %>
    <ul>
        <% list.forEach((item) => { %>
            <li>
                <span><%= item.name %>></span>
                <span> - </span>
                <span><%= item.sex === 0 ? '男' : '女' %></span>
            </li>
        <% }) %>
    </ul>
	<% } %>
	<%- include('widgets/footer') %>
</body>
</html>